<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Манки Д. Луффи</h1>
<img src="https://shikimori.one/system/characters/original/40.jpg">
<h2>Привет, я <a href='https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%BD%D0%BA%D0%B8_%D0%94._%D0%9B%D1%83%D1%84%D1%84%D0%B8'>Манки Д. Луффи</a>,
главный герой аниме Ван-Пис</h2>
<h3>Моя мечта найти величайшее сокровище <mark>Ван Пис</mark>,
стать королём пиратов, и собрать сильнейшую команду</h3>
<h3>Моё хобби: <ins>есть мясо, дурачится и спать</ins></h3>
</body>
</html>